<!-- ============================================ -->
<div class="pgCr10">
    <!-- ============================================ -->
    <h2 class="bdba pgCr05">Produits</h2>
    <!-- ============================================ -->
    <div class="pgCr10">
        <p>Cette catégorie a les produits suivants associés</p>
    </div>
    <!-- ============================================ -->
    <div class="pgCr05">
        <ul class="fa fa-ul">
            <!-- START product_list -->
            <li class="mrgb">
                <i class="fa-li fa fa-shopping-basket"></i>
                <a class="hvrb" href="/Produits/{product_path}">{product_name}</a>
            </li>
            <!-- END product_list -->
        </ul>
    </div>
    <!-- ============================================ -->
</div>
<!-- ============================================ -->
