<!-- ============================================ -->
<div class="mrga mxwa txal pgCt10">
    <div class="bgra pgCt10">
        <!-- ============================================ -->
        <h1 class="bdbd pgCr05">{category_heading}</h1>
        <!-- ============================================ -->
        <div class="pgCr10">
            {category_content}
        </div>
        <!-- ============================================ -->
        {category_product}
        <!-- ============================================ -->
    </div>
</div>
<!-- ============================================ -->
