<!-- ============================================ -->
<!DOCTYPE html>
<html>
    <head>
        <title>{site_name} - {title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta charset="UTF-8">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Aclonica"/>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Akronim"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/script.js"></script>
    </head>
    <body>
        <header>
            <!-- ============================================ -->
            <ul class="hdmn">
                <li class="dibm"><a class="hdmt" href="/">{site_name}</a></li>
                <!-- START header_list -->
                <li class="hdml"><a class="hdmi {header_active}" href="{header_link}">{header_name}</a></li>
                <!-- END header_list -->
                <li class="hdmb"><i class="fa fa-bars"></i></li>
            </ul>
            <!-- ============================================ -->
            <div class="pgCt10">
                <div class="bgra pgCr20">
                    <h1 class="clrb">{title}</h1>
                </div>
            </div>
            <!-- ============================================ -->
        </header>
        <!-- ============================================ -->
        
        