<!-- ============================================ -->
<div class="mrga mxwa txal pgCt10">
    <div class="bgra pgCt10">
        <!-- ============================================ -->
        <h2 class="bdba pgCr05">{product_name}</h2>
        <!-- ============================================ -->
        <div class="pgCr10">
            {product_description}
        </div>
        <!-- ============================================ -->
        <div class="pgCr05">
            <p class="ftsa">
                Prix: {product_price}€, 
                Disponible en stock: {product_stock},
                Poids: {product_weight}Kg.
            </p>
        </div>
        <!-- ============================================ -->
        <div class="pgCr05">
            <div class="bgra dibt wdha txac brda fts0">
                <img class="ftsc" src="/{product_image}" width="100%" border="0"
                alt="Pas de photographie disponible pour ce produit." />
            </div>
        </div>
        <!-- ============================================ -->
    </div>
</div>
<!-- ============================================ -->
